		<footer>
			<div class="ui container">
				<div class="ui grid">
					<!-- <div class="four wide column">
						
					</div>
					<div class="four wide column">
						
					</div> -->
					<div style="text-align: right" class="four wide column">
						VokoBan 
					</div>
					<div class="four wide column">
						learnwithvokoban@gmail.com
						<a id="instagram" href="https://www.instagram.com/learnwithvokoban/"><i class="instagram icon"></i></a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>