		<footer>
			<div class="ui container">
						<div id="footerData">
							VokoBan <i style="font-size: 0.7em" class="copyright outline icon"></i> 2020 
							<a id="socials" href="https://www.instagram.com/learnwithvokoban/"><i 												class="instagram icon"></i></a>
							<a id="socials" href="https://www.instagram.com/learnwithvokoban/"><i 												class="facebook icon"></i></a>
							<a id="socials" href="https://www.instagram.com/learnwithvokoban/"><i 												class="twitter icon"></i></a>
								learnwithvokoban@gmail.com
						</div>
					</div>
				</div>
		</footer>
	</body>
</html>