/*====================================================================================*/
/*NAV BAR AND FLASH*/

/*Nav Bar*/
.ui {
   font-family: 'Josefin Sans', sans-serif !important;
}

/*NavLogo Icon*/
#navLogoIcon {
	font-size: 2em;
}


/*Flash Alert*/
#flashAlert { 
	position: relative;
	margin-top: 70px;
	margin-bottom: 10px;
}


/*Footer*/
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 40px;
	width: 100%;
	background-color: black;
	color: white;
}

#footerData {
	margin-top: 10px;
}

/*Header and Footer on Smaller Screen*/
@media (max-width: 767px) {
	#footerData, .item{
		font-size: 0.9em;
	}
}

/*=====================================================================================*/
/*INDEX ROUTE*/

body {
	background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

/*Welcome Message*/
h1 {
	font-family: 'Josefin Sans', sans-serif !important;
	position: relative;
	margin-top: 10px;
	margin-left: 10vw;
	text-align: center;
}

/*Search Function*/
#searchBar{
	margin-left: 37.5%;
	width: 25%;
	display: inline-block;
}

#searchButton{
	position: absolute;
	display: inline-block;
	height: 2.7em;
	margin-left: 1vw;
}


/*Cards*/
.wordUnit, .tagUnit {
	position: relative;
	display: inline-block;
	margin-left: 10vw;
	margin-top: 3em;
	margin-bottom: 1em;
	text-align: center;
	height: 250px;
	width: 250px;
}

@media (max-width: 647px){
	.wordUnit{
		margin: 28%;
		margin-bottom: 15px;
		margin-top: 5px;
	}
	.wordUnit:nth-child(1){
		margin-top: 5px;
	}
}

h3 {
	padding-top: 1vw;
}

.card {
	position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
	/*THIS GIVES THE ABILITY TO FLIP IN 3D SANDWICH EXAMPLE - FLIPPING BOTH PIECES OF BREAD OR JUST ONE*/
    transition: all 0.5s ease;
	border: 1px solid black;
}

img {
	max-width: 100%;
	height: 60%;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
	position: absolute;
	width: 100%;
    height: 100%;
    backface-visibility: hidden; /*STOPS FLICKERING ON THE CARD WHEN FLIPPING */
	box-shadow: 4px 4px black;
}

.back {
	position: absolute;
	width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
	box-shadow: 4px 4px black;
}

/*Div for 'See More' Button*/
.extra{ 
	margin: 5px; 
}

/*The Button Itself*/
#seeMoreButton {
	margin-top: 0.6vw;
	font-size: 0.9vw;
}


/*=======================================================================================*/
/*SHOW ROUTE*/

/*Main Container*/
#showContainer{
	margin-top: 2em;
	margin-bottom: 2em;
}

/*Contains Word, Example, Image, and Buttons*/
#wordInformationContainer{
	background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

/*Image*/
#showImage {
	max-width: 50%;
	height: auto;
}

/*Delete and Edit Buttons*/
#mainShowButtons {
	margin-top: 3.0em;
}

/*Delete Form Button*/
#deleteFormButton{
	display: inline-block;
}



/*=================================================================================*/
/*FORM INPUT*/

/*New Word, New/Edit Form, Edit Word*/
#newWordForm, #editWordForm {
	position: relative;
	margin-top: 10px;
}

/*Login Form*/
#loginForm, #newFormForm {
	position: relative;
	margin-top: 10vw;
}

@media (max-width: 767px) {
	#newWordForm, #editWordForm, #loginForm, #newFormForm{
		font-size: 0.9em;
	}
}





